@model MySocialPet.Models.ViewModel.Autenticacion.LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayoutPartial.cshtml";
    ViewData["Title"] = "Iniciar Sesión";
}

<!-- Pestañas de navegación -->
<div>
    <div class="auth-tabs mb-3  py-2">
        <a asp-action="Index" asp-controller="Login"
           class="btn @(ViewData["Title"]?.ToString() == "Iniciar Sesión" ? "active" : "")">
            Iniciar Sesión
        </a>
        <a asp-action="Registrar" asp-controller="Login"
           class="btn @(ViewData["Title"]?.ToString() == "Registro" ? "active" : "")">
            Registrarse
        </a>
    </div>


    <!-- Formulario de inicio de sesión -->
    <form asp-action="Index" method="post" class="px-5 ">
        @Html.AntiForgeryToken()

        <div class="mb-3 ">
            <label asp-for="Email" class="form-label">Correo electrónico</label>
            <input asp-for="Email" class="form-control" placeholder="ejemplo@correo.com" />
            <span asp-validation-for="Email" class="text-danger small"></span>
        </div>

        <div class="mb-3 ">
            <label asp-for="Password" class="form-label">Contraseña</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="********" />
            <span asp-validation-for="Password" class="text-danger small"></span>
        </div>

        <div class="text-center mt-3  text-lg-start">
            <a asp-action="RecuperarContrasenya" asp-controller="Login" class=" text-primary">¿Has olvidado tu contraseña?</a>
        </div>
        <br>
        <div class="d-grid ">
            <button type="submit" class="btn static">Entrar</button>
        </div>
    </form>

</div>
