@model MySocialPet.Models.ViewModel.Autenticacion.LoginViewModel
@{
    Layout = "~/Views/Shared/_AuthLayoutPartial.cshtml";
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="col-md-12 auth-form">
    <div class="auth-tabs">
        <a asp-action="Index" asp-controller="Login" class="btn btn-primary active">Iniciar Sesión</a>
        <a asp-action="Registrar" asp-controller="Login" class="btn btn-primary">Registrarse</a>
    </div>

    <form asp-action="Index" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="ejemplo@correo.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="********" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
</div>
</div>
